html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
body {
  padding: 0px 120px;
  background-color: #f5f5f5;
}
:root {
  --primary-color: #b88e2f;
  --secondary-color: #ffffff;
  --tertiary-color: #888888;
}

button {
  width: 104;
  height: 24;
  top: 3174px;
  left: 136px;
  padding: 0.5em 1em;
}

header {
  background-color: #ffffff;
}
.main-nav {
  padding: 8px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: flex-end;
}
.nav-logo span {
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  color: red;
  line-height: 100%;
}
.nav-items ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2em;
}
.nav-items ul li {
  color: #000;
  display: inline-block;
  margin: 0;
  /* text-transform: uppercase; */
}

.nav-items ul li:after {
  display: block;
  content: "";

  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-items ul li:hover:after {
  background-color: var(--tertiary-color);
  padding: 2px 14px;
  transform: scaleX(1);
  border-bottom: solid 3px #ea2129;
}
.nav-items ul li a {
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: black;
  font-weight: 400;
}

.nav-icons {
  display: flex;
  gap: 3rem;
}

/* NEW collection section */

.new-collection-section {
  height: 100dvh;
  background-image: url(/images/scandinavian-interior-mockup-wall-decal-background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.new-collection-card {
  max-width: 500px;
  max-height: 343px;
  padding: 40px 50px;
  background-color: #fff3e3;
  border-radius: 15px;
}
.new-collection-card h4 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3px;
  padding: 0;
  margin: 0;
}
.new-collection-card h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  padding: 0;
  margin: 0;
  color: #b88e2f;
}
.new-collection-card p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

.buy-btn {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 20px 40px;
  background-color: #b88e2f;
  color: white;
  border: none;
  margin-top: 20px;
}

/* product section */

.product-section {
  background-color: var(--secondary-color);
}

.product-title h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  /* margin-top: 3em; */
}
.product-title p {
  font-family: sans-serif;
  text-align: center;
  font-size: 2em;
  margin: 0;
}
.product-images {
  display: flex;
  justify-content: center;
  gap: 5em;
  text-align: center;
  margin-top: 4em;
  flex-wrap: wrap;
}
.image img {
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 1px 12px 12px 3px #888888;
}
.image p {
  font-size: 1.5em;
  font-weight: bold;
}

/* ---------product-page-section--------- */

.product-page-section {
  padding: 16px 100px;
  background-color: var(--secondary-color);
}
.product-page-title {
  text-align: center;
  font-size: 3em;
}

.product-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  flex-wrap: wrap;
}
.product-card {
  background-color: #d6d9dd;
  position: relative;
}
.product-price {
  padding: 1em 1.5em;
  margin: 0;
}
.product-price h2 {
  margin: 0;
}
.product-price p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #888888;
  margin: 8px 0px;
}
.product-price :last-child {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: gray;
  margin-left: 10px;
  text-decoration: line-through;
}
.discount-logo {
  height: 3em;
  width: 3em;
  /* background-color: red; */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -410px;
  margin-left: 220px;
}
.show-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.product-btn {
  border: 1px solid #b88e2f;
  color: #b88e2f;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 8px 2em;
  margin-bottom: 2em;
}
.product-card:nth-last-of-type(2n + 2) .discount-logo {
  background-color: red;
}
.product-card:nth-last-of-type(2n + 1) .discount-logo {
  background-color: rgb(85, 183, 221);
}

/* product-pic-slider-section */

.product-pic-slider-section {
  background-color: #fcf8f3;
  padding: 20px;
}
.slider-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.product-slider-select {
  margin-left: 0px;
  margin-top: 20px;
}
input[type="radio"] {
  accent-color: #b88e2f;
}
.section-left {
  margin: auto;
  width: 422px;
  height: 151px;
  margin-top: 150px;
}
.section-left > div h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
}
.section-left > div p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 0;
}
button.explore-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 20px;
}

/* product-photo-gallery */

.product-photo-gallery {
  background-color: var(--secondary-color);
  padding: 20px;
}

.product-photo-gallery p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.product-photo-gallery h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}
.photo-gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

/* footer section is */
.footer-section {
  padding: 40px 200px;
}

.footer {
  display: flex;
  gap: 4em;
}
table {
  width: 45vw;
  height: 30vh;
  /* height: 100vh; */
}
table td {
  text-align: left;
}
table th {
  text-align: left;
}
.footer-left {
  padding: 0px 20px;
}
.footer-left p {
  color: var(--tertiary-color);
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 35px;
}
th {
  color: var(--tertiary-color);
}

@media (max-width: 768px) {
  .photo-gallery {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .slider-section {
    display: flex;
    flex-direction: column;
  }
  .main-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  .product-cards {
    padding: 16px 50px;
  }

  .nav-icons {
    gap: 40px;
    margin-bottom: 10px;
  }
  .footer {
    flex-direction: column;
    padding: 16px 50px;
  }
}
