@import url(/style/index.css);
@import url(/style/shop.css);

.blog-section {
  display: flex;
  padding: 60px 80px;
  gap: 80px;
  background-color: white;
}
.left-blog {
  flex: 2;
}
.right-blog {
  flex: 1;
}
.blog-icon span {
  margin-right: 10px;
}

.blog-img {
  margin-top: 40px;
}
.catagories-list {
  display: flex;
  gap: 100px;
  margin-bottom: 30px;
  font-size: 20px;
}
.post img {
  height: 100px;
  width: 100px;
}
.post span {
  color: gray;
}

.post {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.search input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 16px;
}
.search i {
}
