@import url(/style/index.css);
@import url(/style/shop.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.checkout-section {
  background-color: white;
  max-width: 1440px;
}
.container {
  display: flex;
  padding: 40px;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.billing-form {
  flex: 1 1 60%;
  padding: 20px;
}

.billing-form h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-group input {
  border: 1px solid lightgray;
}
.form-group textarea {
  border: 1px solid lightgray;
}
.form-group select {
  border: 1px solid lightgray;
}

.form-inline {
  display: flex;
  gap: 20px;
}

.form-inline .form-group {
  flex: 1;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

input,
select,
textarea {
  padding: 12px 15px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  font-size: 14px;
  /* background-color: #fff; */
}

textarea {
  resize: none;
  height: 80px;
}

.order-summary {
  flex: 1 1 35%;

  padding: 20px;
}

.order-summary h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}

.order-item,
.summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.summary-total.total {
  font-weight: bold;
  color: #c79400;
  font-size: 16px;
}

.payment-methods {
  margin-top: 30px;
}

.payment-methods label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.payment-methods input[type="radio"] {
  margin-right: 10px;
}

.payment-note {
  font-size: 13px;
  margin-top: 10px;
  color: #666;
  line-height: 1.6;
}

.payment-note b {
  color: #111;
}

.order-button {
  margin-top: 25px;
  text-align: center;
}

.order-button button {
  padding: 12px 30px;
  border: 1px solid #111;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.order-button button:hover {
  background: #111;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .billing-form {
    width: 100%;
  }
  .form-inline {
    display: block;
  }

  .order-summary {
    border-left: none;
    border-top: 1px solid #eee;
    margin-top: 30px;
    width: 100%;
  }
}
